<div class="container-fluid">

  <% for base in @bases %>
    
    <div class="row text-center bg-<%= base[:status] %>"
         style="font-size: 24px; height: 12.5vh;
                line-height: 12.5vh;">
      
      <%= base[:name] %>
        
    </div>
    
  <% end %>

</div>